input[name="First Name"] {
    background-color: black;
}
.ticket--form
.ticket--form table,
.ticket--form td{
    background-color: #F4F4F3;
    font-family: "Manrope", "Open Sans", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 22px;
}
.ticket--form input,
.ticket--form textarea {
    width: 500px!important;
    border: 0.1rem solid #EAEAEA!important;
    border-radius: 5px!important;
    font-size: 16px;
    padding: 10px!important;
    margin-bottom: 10px!important;
}
.ticket--form input[type="submit"],
.ticket--form input[type="button"] {
    border-radius: 5px!important;
    padding: 10px!important;
    width: 200px!important;
    background-color: black!important;
    color: white!important;
}
.ticket--form input[type="button"] {
    border-radius: 5px!important;
    padding: 10px!important;
    width: 200px!important;
    background-color: red!important;
    color: white!important;
}